.aboutContainer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aboutContainer h3{
    text-align: center;
    color: #F76E11;
    font-size: 3.5rem;
}
.aboutContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sliderContainer{
    height: 100%;
}
.sliderContainer p{
    line-height: 1.8rem;
    padding: 1rem 0;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
.sliderContainer h4{
    color: #F76E11;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .6rem 0;
}
.slide{
    width: 50%;
    color: white;
}




@media (max-width:786px) {
    .slide{
        width: 100%;
    }
    .aboutContent{
        flex-direction: column;
        gap: 3rem;
    }
    .aboutContainer h3{
        font-size: 1.8rem;
    }
    .sliderContainer p{
        line-height:1.4rem ;
    }
    .aboutImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutImg img{
        width: 18rem;
    }
}